.iconClass {
  margin: 0;
  position: absolute !important;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.btnClassDown {
  bottom: 0%;
  left: 50%;
}

.btnClassTop {
  top: 3.3%;
  left: 50%;
}

.sidebtnRight {
  top: 50%;
  left: 65%;
}

.sidebtnLeft {
  top: 45%;
  left: 3%;
}

.name {
  margin: 0;
  position: fixed !important;
  left: 35%;
  top: 40%;
  text-align: cent;
  font-size: 60px;
}
